@font-face {
    font-family: "inter-bold";
    src: url(../fonts/Inter-ExtraBold.ttf)
}
@font-face {
    font-family: "merri";
    src: url(../fonts/Merriweather-Regular.ttf)
}
$font1 : inter-bold, sans-serif;
$font2 : merri, serif;
$black1: rgb(17, 17, 17);
