@font-face {
    font-family: "inter-bold";
    src: url(../fonts/Inter-ExtraBold.ttf)
}
@font-face {
    font-family: "merri";
    src: url(../fonts/Merriweather-Regular.ttf)
}
$font1 : inter-bold, sans-serif;
$font2 : merri, serif;
$black1: rgb(17, 17, 17);
$white1: rgb(255, 255, 255);
$grey1: rgb(238, 238, 238);
$grey2: rgb(204, 204, 204);
$grey3: rgb(153, 153, 153);
